h1{
  color:blue
}
body.everything {
  position: absolute;
  top: 0px;
  right: 30px;
  left: 30px
  width: 300px;
  height: 400px;
  border: 0px solid #73AD21;
}
body {
  background-color:lightpink;
